/*************登录页面***************/
html,body{
	width:100%;
	height:100%;
	font-family: Microsoft YaHei;
}
.wrapper{
	width:100%;
	height:100%;
}
header,footer{
	height:50px;
	background-color:#333;
	color:#fff;
	line-height: 50px;
	font-size: 16px;
	padding-left: 20px;
}
footer{
	font-size: 14px;
	padding-right: 20px;
}
.container{
	padding-top: 60px;
}
.pink{
	background-color:pink;
}
/********用户信息 (退出)********/
.userInfo{
	float: right;
}
.userInfo i{
	font-size: 26px;
	vertical-align: middle;
}
.userInfo i:last-child{
	padding-right: 10px;
	cursor: pointer;
}
/*************首页布局******************/
.homeWrap{
	width: 100%;
	height:100%;
	display: flex;	
	flex-direction: column;
}
.homeWrap .toHome{
	color:#fff;
	text-decoration: none;
}
.homeWrap .toHome:hover{
	text-decoration: none;
}

/*************弹窗遮罩***************/
.mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	position: fixed;
	top:0;
	left:0;
}
/***************退出登录弹窗***************/
.exitTips{
	width:400px;
	height:250px;
	background: #fff;
	position: fixed;
	top:50%;
	left:50%;
	margin-top: -200px;
	margin-left: -200px;
	z-index: 999999;
}
.exitTips p{
	font-size: 22px;
    margin-top: 30px;
    margin-bottom: 15px;
}
/*************左侧菜单****************/
.content{
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	display: flex;
	flex-direction: row;
}
.aside{
	width:150px;
	background: #eee;
	text-align: center;
}
.aside .blod{
	font-size:18px;
	line-height: 2em;
	color: #333;
	cursor: default;
}
.aside .blod span{
	font-size: 15px;
	padding-right: 10px;
	display: inline-block;
}
.aside .blod a{
	color: #333;
	display: inline-block;
	padding-left: 0;
	cursor: default;
}

.aside .active{
	background: #337ab7;
	
}
.aside .active a{
	color: #fff;
}

/************右侧视图窗口***************/
.main{
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	/*background: pink;*/
	background: #f6f3ed;
}
/*********窗口定位**********/
.location{
	padding:10px 10px;
}
.location .glyphicon-map-marker{
	font-size: 16px;
}
.location a{
	color: #333;
}
/**********采购记录tab************/

.nav-pills .tabBtn{
	border-radius: 0;
}
.procurementTab{
	margin-top:10px;
}
.procurementTab tr ,.procurementTab td ,.procurementTab th{
	text-align: center;
}
.procurementTab .inputSearch input{
	width: 60px;
}
.procurementTab .operation{
	vertical-align: middle;
}
/*********导出按钮******/
.exportBtn{
	border-radius: 0;
}
/********多选框*****/
input[type="checkBox"]{
	width: 16px;
	height:16px;
}
/*************添加备注****************/
.addComment{
	width:600px;
	height:400px;
	background: #fff;
	position: fixed;
	top:50%;
	left:50%;
	margin-top: -300px;
	margin-left: -300px;
	z-index: 10;
	padding-top: 10px;

}
.addComment .title{
	font-size: 25px;
	margin-bottom: 10px;
}
.addComment .closeBtn{
	font-size: 25px;
	margin-bottom: 10px;
}
.addComment .closeBtn:hover{
	cursor: pointer;
}
.addComment .dsc{
	padding-top: 20px;
	font-size: 16px;
	vertical-align: top;
	padding-bottom: 20px;
}
.addComment .dsc span{
	font-size: 14px;
}
.addCommentBtns{
	padding-top: 20px;
}
.addComment .dsc-inventory{
	padding-top: 0px;
	padding-bottom: 0px;
}
/**********销售记录************/
.customers{
	cursor: pointer;
}
.customersDetail .title{
	margin-bottom: 40px;
}
.customersDetail .dsc{
	padding-top: 10px;
	font-size: 16px;
	vertical-align: top;
	padding-bottom: 10px;
}
.customersDetail .dsc span{
	font-size: 18px;
}
.createTeam .dsc {
	font-size: 14px;
	font-weight: bold;
	margin-right: 5px;
}
/************成员管理***********/
.addComment.createMember{
	width:700px;
	height:auto;
	background: #fff;
	position: fixed;
	top:50%;
	left:50%;
	margin-top: -300px;
	margin-left: -350px;
	z-index: 10;
	padding-top: 10px;
}
.createMember .selectBox{
	padding-right: 0;
	padding-left: 10px;
}
.createMember .createMemberBtns{
	margin-bottom: 20px;
}
.createMember .createMemberBtns button{
	margin-right: 20px;
}
.delGoodsBtn{
	cursor: pointer;
}
/**************创建成员弹窗****************/
.sencond-line{
	margin-top: 15px;
}
/************角色管理***************/
.addComment.createTeam{
	width:900px;
	height:450px;
	background: #fff;
	position: fixed;
	top:50%;
	left:50%;
	margin-top: -300px;
	margin-left: -450px;
	z-index: 10;
	padding-top: 10px;
}
.addComment.createTeam .authorityTable{
	padding-left: 7px;
}
.addComment.createTeam .authorityTable td{
	vertical-align: middle;
}
.addComment.redactTeam{
	width:1000px;
	height:auto;
	background: #fff;
	position: fixed;
	top:50%;
	left:50%;
	margin-top: -300px;
	margin-left: -500px;
	z-index: 10;
	padding-top: 10px;
	padding-bottom: 10px;
}
.addComment.redactTeam .searchInput{
	width: 85%;
}
.addComment.redactTeam table td{
	text-align: center;
}
.addComment.redactTeam .teamNick{
	font-size: 16px;
	margin-bottom: 10px;
}
.addComment.redactTeam .teamMember{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
/*************品规管理***************/
.varietyText textarea{
	width:50%;
}
.varietyText label{
	margin-right: 15px;
}
.varietyGoods label{
	margin-right: 5px;
}
/**************参数设置****************/
.table>tbody>tr>td,.table>tbody>tr>th{
	vertical-align: middle;
}
.setIcon {
	position: relative;
}
.setIcon .glyphicon-edit{
	position: absolute;
	top:0;
	right:0;
	font-size: 24px;
	cursor: pointer;
	display: none;
}
.setIcon:hover .glyphicon-edit{
	display: block;
}
.deepGreen{
	background: #0d8841;
}
.lightGreen{
	background: #08f66d;
}
.normal{
	background: #c0fad9;
}
.yellow{
	background: #f98d01;
}
.red{
	background: #f90107;
}
.setParameter .good.standard{
	font-size: 16px;
	margin-top: 10px;
}
.setParameter .good.standard span{
	font-weight: bold;
}
.setParameter .standard{
	margin-bottom: 10px;
}
.setParameter .compareSymbol option,.setParameter .compareSymbol{
	font-size: 20px;
}
/******************图表数据展示********************/
.container-fluid .row .pieBox{
	padding-top:50px;
	position: relative;
}
.container-fluid .row .pieBox .toTotal{
	position: absolute;
	right: 70px;
	top:50px;
	font-weight: bold;
	z-index: 9999;
}