<!-- there are authorityManagement -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 location">
			<span class="glyphicon glyphicon-map-marker"></span>
			<span><a href="" ui-sref = "home.graphic">首页</a></span> &gt;
			<span>权限管理</span> &gt;
			<span>角色管理</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1 col-md-offset-11 text-center">
			<button class="btn btn-success exportBtn">创建角色组</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered procurementTab">
				 <thead>
			        <tr >
			          <th>角色组</th>
			          <th>成员</th>
			          <th>权限</th>
			          <th>操作</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <th scope="row">2</th>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td class="operation">
			          	<a href="">编辑</a>
			          	<a href="">删除</a>
			          	<a href="">组员管理</a>
			          </td>
			        </tr>
			        <tr>
			          <th scope="row">3</th>
			          <td>Larry</td>
			          <td>the Bird</td>
			          <td class="operation">
			          	<a href="">编辑</a>
			          	<a href="">删除</a>
			          	<a href="">组员管理</a>
			          </td>
			        </tr>
			      </tbody>
			</table>	
		</div>
	</div>
</div>