 <!-- there are graphic -->
 <div class="container-fluid">
	<div class="row">
		<div class="col-md-4 location">
			<span class="glyphicon glyphicon-map-marker"></span>
			<span><a href="" ui-sref = "home.graphic">首页</a></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 col-md-offset-1 pieBox">
			<a href="" class="toTotal" ui-sref="home.procurement">全部>></a>
			 <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
		    <div id="procurement" style="width:500px;height:300px;"></div>
		</div>
		<div class="col-md-5 col-md-offset-1 pieBox">
			<a href="" class="toTotal"  ui-sref="home.inventory">全部>></a>
			<div id="inventory" style="width:500px;height:300px;"></div>
		</div>
		<div class="col-md-5 col-md-offset-1 pieBox">
			<a href="" class="toTotal"  ui-sref="home.sale">全部>></a>
			<div id="sale1" style="width:500px;height:300px;"></div>
		</div>
		<div class="col-md-5 col-md-offset-1 pieBox">
			<a href="" class="toTotal" ui-sref="home.sale">全部>></a>
			<div id="sale2" style="width:500px;height:300px;"></div>
		</div>
	</div>
</div>