<!-- <div ng-include="'src/scripts/templates/blocks/header.html'" scope="" onload=""></div> -->
<div class="homeWrap">
	<header>
		<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> 中药材监测预警系统后台
		<span class="userInfo"><i class="glyphicon glyphicon-user"></i> {{username}} | <i class="glyphicon glyphicon-circle-arrow-right"></i></span>
	</header>
	<div class="content">
		<div class="aside">
			<ul class="nav nav-pills nav-stacked">
				<li ng-repeat="item in data.list" ng-click="li_click($index)" ng-class="{active: currentId == item.id}" class={{item.blod}}><span class={{item.icon}}></span><a href=""  ui-sref = {{item.url}} >{{item.name}}</a></li>
			</ul>
		</div>
		<div class="main">
			<div ui-view></div>	
		</div>
	</div>
	<footer class="text-right">
		version1.0
	</footer>
</div>

<!-- <div ng-include="'src/scripts/templates/blocks/footer.html'" scope="" onload=""></div>