<!-- there are inventory -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 location">
			<span class="glyphicon glyphicon-map-marker"></span>
			<span><a href="" ui-sref = "home.graphic">首页</a></span> &gt;
			<span>数据监测</span> &gt;
			<span>存货价格</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered procurementTab">
				 <thead>
			        <tr >
			          <th>商品名称</th>
			          <th>规格</th>
			          <th>产地</th>
			          <th>当前库存</th>
			          <th>成本价(元)</th>
			          <th>行情价(元)</th>
			          <th>下降金额</th>
			          <th>下降百分比</th>
			          <th>严重程度</th>
			          <th>走势</th>
			          <th>行情价采集日期</th>
			          <th>采价单位</th>
			          <th>备注</th>
			          <th>操作</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr class="inputSearch">
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td>
			         	 <select>
			         	 	<option ng-repeat="key in rootData.level">{{key.dsc}}</option>
			         	 </select>
			          </td>
			          <td>
			          	<select>
			         	 	<option ng-repeat="key in rootData.level2">{{key.dsc}}</option>
			         	</select>
			          </td>
			          <td><input type="text"></td>
			          <td>
			          	<select>
			         	 	<option ng-repeat="key in rootData.company">{{key.dsc}}</option>
			         	</select>
			          </td>
			          <td><input type="text"></td>
			          <td class="operation">
			          	<a href="">重置</a>
			          	<a href="">搜索</a>
			          </td>
			        </tr>
			        <tr>
			          <th scope="row">2</th>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td>@fat</td>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td>@fat</td>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td>@fat</td>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td>@fat</td>
			          <td>
			          	<a href="" ng-click="handle()">处理</a>
			          </td>
			        </tr>
			        <tr>
			          <th scope="row">3</th>
			          <td>Larry</td>
			          <td>the Bird</td>
			          <td>@twitter</td>
			        </tr>
			      </tbody>
			</table>	
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<button type="button" class="btn btn-info exportBtn">导出到Excel</button> <span> 注：根据当前筛选条件导出数据。</span>
		</div>
	</div>
</div>
<div class="container addComment" ng-show="addCommentShow">
	<div class="row">
		<div class="col-md-11 title">
			添加备注
		</div>
		<div class="col-md-1 closeBtn" ng-click="cancelComment()">×</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p class="dsc dsc-inventory">
				价格严重程度：
				<select>
					<option>非常严重</option>
					<option>严重</option>
					<option>一般</option>
					<option>良好</option>
					<option>正常</option>
				</select>
				<span> 请谨慎操作程度的变更</span>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p class="dsc dsc-inventory">
				走势：
				<select>
					<option>稳中上扬</option>
					<option>走平</option>
					<option>趋势下降</option>
					<option>快速上涨</option>
				</select>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<span class="dsc">备注信息：</span>
			<textarea cols="50" rows="8" placeholder="您可以添加200字以内的备注文字"></textarea>
		</div>
	</div>
	<div class="row addCommentBtns">
		<div class="col-md-10 col-md-offset-1 text-center">
			<button class="btn btn-default btn-lg" ng-click="cancelComment()"> 取消 </button>
			<button class="btn btn-success btn-lg" ng-click="submitComment()"> 提交 </button>
		</div>
	</div>
</div>