<!-- there are inventory -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 location">
			<span class="glyphicon glyphicon-map-marker"></span>
			<span><a href="" ui-sref = "home.graphic">首页</a></span> &gt;
			<span>数据监测</span> &gt;
			<span>存货价格</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered procurementTab">
				 <thead>
			        <tr >
			          <th>商品名称</th>
			          <th>规格</th>
			          <th>产地</th>
			          <th>当前库存</th>
			          <th>成本价(元)</th>
			          <th>行情价(元)</th>
			          <th>下降金额</th>
			          <th>下降百分比</th>
			          <th>严重程度</th>
			          <th>走势</th>
			          <th>行情价采集日期</th>
			          <th>采价单位</th>
			          <th>备注</th>
			          <th>操作</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr class="inputSearch">
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td>
			         	 <select>
			         	 	<option ng-repeat="key in rootData.level">{{key.dsc}}</option>
			         	 </select>
			          </td>
			          <td>
			          	<select>
			         	 	<option ng-repeat="key in rootData.level2">{{key.dsc}}</option>
			         	</select>
			          </td>
			          <td><input type="text"></td>
			          <td>
			          	<select>
			         	 	<option ng-repeat="key in rootData.company">{{key.dsc}}</option>
			         	</select>
			          </td>
			          <td><input type="text"></td>
			          <td class="operation">
			          	<a href="">重置</a>
			          	<a href="">搜索</a>
			          </td>
			        </tr>
			        <tr>
			          <th scope="row">2</th>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td>@fat</td>
			        </tr>
			        <tr>
			          <th scope="row">3</th>
			          <td>Larry</td>
			          <td>the Bird</td>
			          <td>@twitter</td>
			        </tr>
			      </tbody>
			</table>	
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<button type="button" class="btn btn-info exportBtn">导出到Excel</button> <span> 注：根据当前筛选条件导出数据。</span>
		</div>
	</div>
</div>