<!-- there are parameterSet -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 location">
			<span class="glyphicon glyphicon-map-marker"></span>
			<span><a href="" ui-sref = "home.graphic">首页</a></span> &gt;
			<span>基础设置</span> &gt;
			<span>预警参数</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1 col-md-offset-11 text-center">
			<button class="btn btn-success exportBtn">新增品规</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered procurementTab">
				 <thead>
			        <tr >
			          <th>品名</th>
			          <th>规格</th>
			          <th>产地</th>
			          <th>采购上限（元）</th>
			          <th>采购标准</th>
			          <th>存货标准</th>
			          <th>销售标准<br>（成本VS售价）</th>
			          <th>销售标准<br>（行情VS售价）</th>
			          <th>操作</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr class="inputSearch">
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td>
			          	<select>
							<option></option>
						</select>
			          </td>
			          <td>
			          	<select>
							<option></option>
						</select>
			          </td>
			          <td>
			          	<select>
							<option></option>
						</select>
			          </td>
			          <td>
						<select>
							<option></option>
						</select>
			          </td>
			          <td class="operation">
			          	<a href="">重置</a>
			          	<a href="">搜索</a>
			          </td>
			        </tr>
			        <tr>
			          <th scope="row">2</th>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td>@fat</td>
			          <td>@fat</td>
			          <td>@fat</td>
			          <td>@fat</td>
			          <td>@fat</td>
			          <td class="operation">
			          	<a href="">编辑</a>
			          	<a href="">删除</a>
			          </td>
			        </tr>
			        <tr>
			          <th scope="row">3</th>
			          <td>Larry</td>
			          <td>the Bird</td>
			          <td>@twitter</td>
			        </tr>
			      </tbody>
			</table>	
		</div>
	</div>
</div>
