<!-- there are price -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 location">
			<span class="glyphicon glyphicon-map-marker"></span>
			<span><a href="" ui-sref = "home.graphic">首页</a></span> &gt;
			<span>数据监测</span> &gt;
			<span>行情价格</span>
		</div>
	</div>
		<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered procurementTab">
				 <thead>
			        <tr >
			          <th>商品名称</th>
			          <th>规格</th>
			          <th>产地</th>
			          <th>参考价格（元）</th>
			          <th>采集单位</th>
			          <th>采集时间</th>
			          <th>行情价格（元）</th>
			          <th>备注</th>
			          <th>操作</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr class="inputSearch">
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td class="operation">
			          	<a href="">重置</a>
			          	<a href="">搜索</a>
			          </td>
			        </tr>
			        <tr>
			          <th scope="row">2</th>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td>@fat</td>
			          <th scope="row">2</th>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td>@fat</td>
			          <td>
			          	<a href="" ng-click="handle()">编辑</a>
			          </td>
			        </tr>
			        <tr>
			          <th scope="row">3</th>
			          <td>Larry</td>
			          <td>the Bird</td>
			          <td>@twitter</td>
			        </tr>
			      </tbody>
			</table>	
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<button type="button" class="btn btn-info exportBtn">导出到Excel</button> <span> 注：根据当前筛选条件导出数据。</span>
		</div>
	</div>
</div>
<div class="container addComment" ng-show="addCommentShow">
	<div class="row">
		<div class="col-md-11 title">
			添加备注
		</div>
		<div class="col-md-1 closeBtn" ng-click="cancelComment()">×</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p class="dsc">
				行情价格：
				<input type="text" name=""> 元 /
				<select>
					<option>公斤</option>
					<option>公斤</option>
					<option>公斤</option>
					<option>公斤</option>
					<option>公斤</option>
				</select>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<span class="dsc">备注信息：</span>
			<textarea cols="50" rows="8" placeholder="您可以添加200字以内的备注文字"></textarea>
		</div>
	</div>
	<div class="row addCommentBtns">
		<div class="col-md-10 col-md-offset-1 text-center">
			<button class="btn btn-default btn-lg" ng-click="cancelComment()"> 取消 </button>
			<button class="btn btn-success btn-lg" ng-click="submitComment()"> 提交 </button>
		</div>
	</div>
</div>
