<!-- there are sale -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 location">
			<span class="glyphicon glyphicon-map-marker"></span>
			<span><a href="" ui-sref = "home.graphic">首页</a></span> &gt;
			<span>数据监测</span> &gt;
			<span>销售价格</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<!-- 销售记录 回收站 tab切换 -->
			<ul class="nav nav-pills nav-justified">
			  <li ng-class="{active:currentTab==$index}" ng-click="tab($index)" ng-repeat="item in data.tabs">
			 	 <a href="" class="tabBtn">{{item.text}}</a>
			  </li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered procurementTab" ng-show="isShow">
				 <thead>
			        <tr >
			          <th>商品名称</th>
			          <th>规格</th>
			          <th>产地</th>
			          <th>成本价</th>
			          <th>实际销售价<br/>(元，含税)</th>
			          <th>行情价(元)</th>
			          <th>利润率</th>
			          <th>严重程度1<br/>(售价VS成本)</th>
			          <th>严重程度2<br/>(售价VS行情)</th>
			          <th>售货单位</th>
			          <th>备注</th>
			          <th>销售时间</th>
			          <th>优惠金额</th>
			          <th>买家</th>
			          <th>操作</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr class="inputSearch">
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td>
			         	 <select>
			         	 	<option ng-repeat="key in rootData.level">{{key.dsc}}</option>
			         	 </select>
			          </td>
			          <td>
			          	 <select>
			         	 	<option ng-repeat="key in rootData.level">{{key.dsc}}</option>
			         	 </select>
			          </td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td class="operation">
			          	<a href="">重置</a>
			          	<a href="">搜索</a>
			          </td>
			        </tr>
			        <tr>
			          <th scope="row">2</th>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td>@fat</td>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td>@fat</td>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td>@fat</td>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td>@fat</td>
			          <td class="customers" ng-click="customersDetail()">@fat</td>
			          <td>
			          	<a href="" ng-click="handle()">处理</a>
			          </td>
			        </tr>
			        <tr>
			          <th scope="row">3</th>
			          <td>Larry</td>
			          <td>the Bird</td>
			          <td>@twitter</td>
			        </tr>
			      </tbody>
			</table>	
    		<table class="table table-bordered procurementTab" ng-show="!isShow">
				 <thead>
			        <tr >
			          <th>商品名称</th>
			          <th>规格</th>
			          <th>产地</th>
			          <th>成本价</th>
			          <th>实际销售价<br/>(元，含税)</th>
			          <th>行情价(元)</th>
			          <th>利润率</th>
			          <th>严重程度1<br/>(售价VS成本)</th>
			          <th>严重程度2<br/>(售价VS行情)</th>
			          <th>售货单位</th>
			          <th>备注</th>
			          <th>销售时间</th>
			          <th>优惠金额</th>
			          <th>买家</th>
			          <th>操作</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr class="inputSearch">
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td>
			         	 <select>
			         	 	<option ng-repeat="key in rootData.level">{{key.dsc}}</option>
			         	 </select>
			          </td>
			          <td>
			          	 <select>
			         	 	<option ng-repeat="key in rootData.level">{{key.dsc}}</option>
			         	 </select>
			          </td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td class="operation">
			          	<a href="">重置</a>
			          	<a href="">搜索</a>
			          </td>
			        </tr>
			        <tr>
			          <th scope="row">2</th>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td>@fat</td>
			        </tr>
			        <tr>
			          <th scope="row">3</th>
			          <td>Larry</td>
			          <td>the Bird</td>
			          <td>@twitter</td>
			        </tr>
			      </tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<button type="button" class="btn btn-info exportBtn">导出到Excel</button> <span> 注：根据当前筛选条件导出数据。</span>
		</div>
	</div>
</div>
<div class="container addComment" ng-show="addCommentShow">
	<div class="row">
		<div class="col-md-11 title">
			添加备注
		</div>
		<div class="col-md-1 closeBtn" ng-click="cancelComment()">×</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p class="dsc dsc-inventory">
				价格严重程度1：
				<select>
					<option>非常严重</option>
					<option>严重</option>
					<option>一般</option>
					<option>良好</option>
					<option>正常</option>
				</select>
				<span> 售价VS成本</span>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p class="dsc dsc-inventory">
				价格严重程度2：
				<select>
					<option>非常严重</option>
					<option>严重</option>
					<option>一般</option>
					<option>良好</option>
					<option>正常</option>
				</select>
				<span> 售价VS行情</span>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<span class="dsc">备注信息：</span>
			<textarea cols="50" rows="8" placeholder="您可以添加200字以内的备注文字"></textarea>
		</div>
	</div>
	<div class="row addCommentBtns">
		<div class="col-md-10 col-md-offset-1 text-center">
			<button class="btn btn-default btn-lg" ng-click="cancelComment()"> 取消 </button>
			<button class="btn btn-success btn-lg" ng-click="submitComment()"> 提交 </button>
		</div>
	</div>
</div>
<div class="container customersDetail addComment" ng-show = "customersDetailShow">
	<div class="row">
		<div class="col-md-11 title">
			买家信息
		</div>
		<div class="col-md-1 closeBtn" ng-click="closeDetail()">×</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p class="dsc">
				联系人:
				<span> 唐小东</span>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p class="dsc">
				联系电话:
				<span> 18200293786</span>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p class="dsc">
				买家单位:
				<span> 中药材天地网络科技有限公司</span>
			</p>
		</div>
	</div>
	<div class="row addCommentBtns">
		<div class="col-md-10 col-md-offset-1 text-center">
			<button class="btn btn-success btn-lg" ng-click="closeDetail()"> 关闭窗口 </button>
		</div>
	</div>
</div>
