<!-- there are varietySet -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 location">
			<span class="glyphicon glyphicon-map-marker"></span>
			<span><a href="" ui-sref = "home.graphic">首页</a></span> &gt;
			<span>基础设置</span> &gt;
			<span>品规管理</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-10 text-center">
			<button class="btn btn-success exportBtn">批量删除</button>
			<button class="btn btn-success exportBtn">增加品规</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered procurementTab">
				 <thead>
			        <tr >
			          <th>全选</th>
			          <th>品名</th>
			          <th>规格</th>
			          <th>产地</th>
			          <th>备注</th>
			          <th>操作</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr class="inputSearch">
			          <td><input type="checkBox"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td><input type="text"></td>
			          <td class="operation">
			          	<a href="">重置</a>
			          	<a href="">搜索</a>
			          </td>
			        </tr>
			        <tr>
			          <td><input type="checkBox"></td>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td>@fat</td>
			        </tr>
			        <tr>
			          <td><input type="checkBox"></td>
			          <td>Larry</td>
			          <td>the Bird</td>
			          <td>@twitter</td>
			        </tr>
			      </tbody>
			</table>	
		</div>
	</div>
</div>